<div ng-controller="questionController">


<div class="row">

<div id="one" class="col-sm-9">

<a href="#"><img class="img-circle" id= "title-image" src="../images/face.jpg" data-toggle="modal" data-target="#myModal" alt="face" style="width:80px; height:80px" /></a>

<div id="box-title">

<a href="#"><h1 id="person-title" ng-repeat="question in questions | limitTo : 1" data-toggle="modal" data-target="#myModal">
  {{question.name}} </h1></a> <span id="person-ask" >IS ASKING:</span>
<p ng-repeat="question in questions | limitTo : 1 | filter:search" class="person-details">
{{question.title}}
</p>
</div>
</div>


<div id="one-in" class="col-sm-9">
<div id="one-in-left" class="hidden-xs col-sm-2 ">
</div>
<div id="one-in-right" class="col-sm-10">

<div class="col-sm-3">
  <div class="thumbnail1">
<h1 style="text-align:center">3</h1>
  <p class ="thumbnail-buttom-more" style="text-align:center">
    more <br /> activites
  </p>
  <p class="profile-circle">
    &#9679;
  </p>
  </div>
</div>

<div class="col-sm-3">
    <a href="#!/comments"> <div class="thumbnail" >
      <img src="../images/face.jpg" class="img-circle" id="thumb-image" alt="face" style="height:60px;width:60px">
    <p class ="thumbnail-buttom" style="text-align:center">
      COMMENTED
    </p>
    <p class="profile-circle">
      &#9679;
    </p>

    </div>
</a>  </div>

  <div class="col-sm-3">
    <a href="#!/comments"> <div class="thumbnail" >
        <img src="../images/face.jpg" class="img-circle" id="thumb-image" alt="face" style="height:60px;width:60px">
      <p class ="thumbnail-buttom" style="text-align:center">
        COMMENTED
      </p>
      <p class="profile-circle">
        &#9679;
      </p>
      </div>
  </a>  </div>

    <div class="col-sm-3">
      <a href="#!/comments"> <div class="thumbnail" >
          <img src="../images/face.jpg" class="img-circle" id="thumb-image" alt="face" style="height:60px;width:60px">
        <p class ="thumbnail-buttom" style="text-align:center">
          ANSWERED
        </p>
        <p class="profile-circle">
          &#9679;
        </p>
        </div>
    </a>  </div>

</div>





</div>

<div class="discussion-sidebar col-sm-3" >
<p><br />
1 Related discussion
</p><br />
<p>
6  Peers involved
</p><p><br />
3 Conversations
</p>

</div>


</div>




<div class="row">

<div id="one" class="col-sm-9">

<img class="img-circle" id= "title-image" src="../images/face.jpg" alt="face" style="width:80px; height:80px" />

<div id="box-title">

<h1 ng-repeat="question in questions.slice(1) | limitTo : 1 " id="person-title"> {{question.name}} </h1> <span id="person-ask">IS ASKING:</span>
<p ng-repeat="question in questions.slice(1) | limitTo : 1 | filter:search" class="person-details">
{{question.title}}
</p>
</div>
</div>


<div id="one-in" class="col-sm-9">
<div id="one-in-left" class="hidden-xs col-sm-2 ">
</div>
<div id="one-in-right" class="col-sm-10">

<div class="col-sm-3">
    <div class="thumbnail1">
<h1 style="text-align:center">6</h1>
    <p class ="thumbnail-buttom-more" style="text-align:center">
      more <br /> activites
    </p>
    <p class="profile-circle">
      &#9679;
    </p>
    </div>
  </div>

  <div class="col-sm-3">
      <div class="thumbnail">
        <img src="../images/face.jpg" class="img-circle" id="thumb-image" alt="face" style="height:60px;width:60px">
      <p class ="thumbnail-buttom" style="text-align:center">
        COMMENTED
      </p>
      <p class="profile-circle">
        &#9679;
      </p>
      </div>
    </div>

    <div class="col-sm-3">
        <div class="thumbnail">
          <img src="../images/face.jpg" class="img-circle" id="thumb-image" alt="face" style="height:60px;width:60px">
        <p class ="thumbnail-buttom" style="text-align:center">
          COMMENTED
        </p>
        <p class="profile-circle">
          &#9679;
        </p>
        </div>
      </div>

      <div class="col-sm-3">
          <div class="thumbnail">
            <img src="../images/face.jpg" class="img-circle" id="thumb-image" alt="face" style="height:60px;width:60px">
          <p class ="thumbnail-buttom" style="text-align:center">
            ANSWERED
          </p>
          <p class="profile-circle">
            &#9679;
          </p>
          </div>
        </div>






</div>





</div>

<div class="discussion-sidebar col-sm-3" >
<p><br />
1 Related discussion
</p><br />
<p>
6  Peers involved
</p><p><br />
3 Conversations
</p>

</div>


</div>





<div class="row">

<div id="one" class="col-sm-9">

<img class="img-circle" id= "title-image" src="../images/face.jpg" alt="face" style="width:80px; height:80px" />

<div id="box-title">

  <h1 ng-repeat="question in questions.slice(2) | limitTo : 1" id="person-title"> {{question.name}} </h1> <span id="person-ask">IS ASKING:</span>
  <p ng-repeat="question in questions.slice(2) | limitTo | filter:search : 1" class="person-details">
  {{question.title}}
</p>
</div>
</div>


<div id="one-in" class="col-sm-9">
<div id="one-in-left" class="hidden-xs col-sm-2 ">
</div>
<div id="one-in-right" class="col-sm-10">

    <div class="col-sm-3">
        <div class="thumbnail">
          <img src="../images/face.jpg" class="img-circle" id="thumb-image" alt="face" style="height:60px;width:60px">
        <p class ="thumbnail-buttom" style="text-align:center">
          COMMENTED
        </p>
        <p class="profile-circle">
          &#9679;
        </p>
        </div>
      </div>

      <div class="col-sm-3">
          <div class="thumbnail">
            <img src="../images/face.jpg" class="img-circle" id="thumb-image" alt="face" style="height:60px;width:60px">
          <p class ="thumbnail-buttom" style="text-align:center">
            COMMENTED
          </p>
          <p class="profile-circle">
            &#9679;
          </p>
          </div>
        </div>

        <div class="col-sm-3">
            <div class="thumbnail">
              <img src="../images/face.jpg" class="img-circle" id="thumb-image" alt="face" style="height:60px;width:60px">
            <p class ="thumbnail-buttom" style="text-align:center">
              ANSWERED
            </p>
            <p class="profile-circle">
              &#9679;
            </p>
            </div>
          </div>






</div>





</div>

<div class="discussion-sidebar col-sm-3" >
<p><br />
  1 Related discussion
</p><br />
<p>
  6  Peers involved
</p><p><br />
  3 Conversations
</p>

</div>


  </div>

<div ng-controller="ControllerJson" class="row">

<p ng-repeat="x in data" id="more-questions">
  {{x.name}}  load more questions
</p>

</div>


<!-- Modal -->
<div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
<div class="modal-dialog modal-lg" role="document">
<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>




    <img class="img-circle" id="modal-imgg" src="../images/face.jpg" alt="face" style="width:80px; height:80px" />

    <h4 class="modal-title" id="myModalLabel" style="text-align:center;"> Dr. Halima</h4>
<div class="modal-info2">


<p class="modal-info"> MEMBER FOR 5 months  </p>   <p class="modal-info"> LAST SEEN Saturday afternoon  </p>
<p class="modal-info"> ACTIVITY LEVEL  </p><i class="fa fa-trophy fa-2x" style="color:#fa8b81;" aria-hidden="true"></i>
<i class="fa fa-trophy fa-2x" style="color:#fa8b81;" aria-hidden="true"></i>
<i class="fa fa-trophy fa-2x" aria-hidden="true"></i>
</div></div>

  <div class="modal-body" style="text-align:center">
<a href="#"> <i id="font-arrow1" class="fa fa-arrow-circle-o-left xs-hidden" style="font-size:44px"></i></a>
<a href="#"> <i id="font-arrow2" class="fa fa-arrow-circle-o-right xs-hidden" style="font-size:44px"></i></a>
<h2 id="modal-title" style="text-align:center">How it all started</h2>
<p>
THAT'S WHERE WE HAVE BEEN THESE 5 MONTHS AGO
</p> <br /><br />
<div class="random-squares">

<div class="square">46 peers</div> <div id="box1" class="square">29 discussions</div> <div id="box2" class="square">19 findings</div>
<div id="box3" class="square"> 10 questions</div>
<br /><br />
<p>
WHO JOINED THE PLATFORM THAT SAME PERIOD
</p><br />
<div class="modal-discussion-people">
<div class="person-det">
<img src="../images/face.jpg" class="img-circle" id="modal-people" alt="face" style="height:80px;width:80px">
<p style="padding:10px;">
S.E.N Waweru
</p></div>
<div class="person-det">
<img src="../images/face.jpg" class="img-circle" id="modal-people" alt="face" style="height:80px;width:80px">
<p style="padding:10px;">
Patricia
</p></div>
<div class="person-det">
<img src="../images/face.jpg" class="img-circle" id="modal-people" alt="face" style="height:80px;width:80px">
<p style="padding:10px;">
 Joseph Aluoch
</p></div>
</div> <br />
<p>
THE HOTTEST DISCUSSION OF THESE DAYS
</p> <br />


</div>
  </div>
  <div class="modal-footer">

    <img src="../images/face.jpg" class="img-circle" id="modal-person" alt="face" style="height:60px;width:60px">

    <div class="hot-discution">
<p style="font-size:22px; color:#22227e; padding-top:10px; "> <i style="font-family:'Courgette'">Andrew</i> <span style="font-size:16px; color:black; "> FOUND THE GUARDIAN ARTICLE</span></p>
<p style="font-size:20px; color:#22227e;font-family:'Courgette'"> Vegan diet to stop diabetes progress </p> <br />

<p class="modal-footer-desc">6 peers involved </p>   <p class="modal-footer-desc">3 related discussion </p>
<p class="modal-footer-desc">3 conversations </p> <p class="modal-footer-desc"> 19 upvotes </p>

        </div>
      </div>
     </div>
</div>
</div>
</div>
